{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notifier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="{% static "notifier/style.css" %}" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body style="background-color: #444;">

<div class="container" style="text-align: center">
  <h2 style="color: #fff">Notifier<i class="em em-bell"></i></h2> 
  <p style="color: #fff">Notifier notifies you when another episode of your favorite TV Series episode releases.<br>
    Put Your Email and TV Series Season no. link from imdb in the form below,<br>
    The system will automatically send an email if another episode is released. Cheers!</p>
  <form class="form-inline" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="email" style="color: #fff">Email:</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email">
    </div> &ensp;
    <div class="form-group">
      <label style="color: #fff">Link:</label>
      <input type="text-field" class="form-control" placeholder="Enter Season Link" name="link">
    </div>
    &ensp;
    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>

</body>
</html>

